<h1>Welcome to Leetspeak</h1>
<form action="/show">
  <div class="form-group">
     <label for="words">Let's play leetspeak. Please enter a sentence:
</label>
     <input id="words" name="words" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Let's play</button>
</form>
